.App {
  text-align: center;
}

.App-logo {
  width: 30%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:  #0a842d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:  #112e84;
}

.App-link {
  color: #112e84;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-collection
{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.header
{
  color: #ffffff;
}
.Amentum-logo
{
  width: 80%;
}

